* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: sans-serif;
    background-image: url('kiss.gif');
    background-size: cover;
    background-attachment: fixed;
}
main {
    background-color: rgba(0, 255, 170, 0.214);
    padding: 20px;
}
main {
    position: relative;
    width: 390px;
    height: 480px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.yes {
    float: inline-end;
    padding: 10px;
    margin: 20px;
    margin-left: 10px;
    margin-top: 70px;
    background-color: rgba(255, 249, 253, 0.444);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: verdana;
    text-decoration: 10px solid black;
    box-shadow: 3px 3px 5px rgb(77, 72, 72);
    font-size: 30px;
}
.efek:hover {
    background-color: rgb(255, 0, 153);
    color: white;
    text-shadow: 3px 3px 3px black; 
}
.no {
    float: left;
    padding: 10px;
    margin: 0px;
    background-color: rgb(255, 0, 153);
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgb(224, 8, 181);
    font-size: 30px;
    margin-top: 73px;
    margin-left: -130px;
}
h1 {
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: verdana;
    margin-bottom: 40px;
    color: rgb(251, 239, 246) ;
    text-shadow: 6px 6px 6px black;
    text-align: center;
    margin: 10px;
}
button {
    position: absolute;
    width: 120px;
    padding: 0.5rem 2rem;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px pink;
}
